<div>
  {% include 'chat/chat_messages.html' %}
  <div class="flex text-white justify-end">
    <small class="pt-1">FanTicket {{ now }}</small>
  </div>

  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 rounded-lg bg-secondary">
      Please upload your identification document (CPF)
    </p>
  </div>

  {% if error_message %}
  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 rounded-lg text-white bg-red-600">
      {{ error_message }}
    </p>
  </div>
  {% endif %}

  <form class="mt-2 flex gap-3 justify-around" hx-encoding='multipart/form-data' hx-post='/chat/identification'
    hx-target="#chat-body" hx-swap="innerHTML">
    <input name="file" placeholder="Upload cpf" type="file"
      class="block w-60 text-sm text-white border border-grey rounded-lg cursor-pointer bg-transparent dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      id="chat-auth-identity-input" type="file">
    <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
    <input type="hidden" name="user_unique_id" value="{{ user_unique_id }}" />
    <button type="submit"
      class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
      Upload
    </button>
  </form>
</div>