<div>
  {% include 'chat/chat_messages.html' %}

  <div class="flex justify-end">
    <div class="mt-2 w-5/6 flex flex-col gap-2">
      <a href="{{ profile_url }}"
        class="p-2 text-center text-secondary border border-secondary rounded-xl hover:bg-secondary hover:text-black active:bg-secondary">Perfil</a>

      <a href="{{ url_for('chat.sell') }}"
        class="p-2 text-center text-secondary border border-secondary rounded-xl hover:bg-secondary hover:text-black active:bg-secondary">Add
        ticket</a>
    </div>
  </div>
</div>