<div class="py-3 px-4 flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %}

  {% include 'chat/chat_spinner.html' %}
  <div id="chat-message-container" data-send-message>
    <div class="chat-message">
      <div class=" flex text-white justify-start">
        <small class="pt-1">FanTicket {{ cut_seconds() }}</small>
      </div>
      <div class="flex text-black justify-start">
        <p class="w-5/6 p-2 mb-2 rounded-t-lg rounded-br-lg bg-secondary">
          We send verification code to your email. Please input the code below.
        </p>
      </div>
    </div>

    {% if error_message %}
    <div class="chat-message">
      <div class="mb-6 flex text-black justify-start">
        <p class="w-5/6 p-2 rounded-lg text-white bg-red-600">
          {{ error_message }}: {{ email_input }}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% include 'chat/chat_submit_form.html' %}

{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}