{% from 'chat/_macros_chat_message.html' import bot_message, bot_message_without_date, user_message,
submit_message_post
%}

<div id="chat-main" class="py-3 px-4  flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %}
  {% include 'chat/chat_spinner.html' %}

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif %}
    {{ bot_message("Please input your password") }}

    {% include 'chat/registration/renew_registration.html' %}

    <div id="chat-message-spinner" class="htmx-indicator flex gap-2 justify-start">
      {% include 'chat/chat_spinner_active.html' %}
    </div>
  </div>
</div>

<input type="hidden" name="user_unique_id" value="{{ user_unique_id }}" />
<input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
{% if ticket_unique_id %}
<input type="hidden" name="ticket_unique_id" value="{{ ticket_unique_id }}" />
{% endif %}

{{ submit_message_post('create_user_password', "[name='user_unique_id'], [name='room_unique_id'],
[name='user_message'], [name='ticket_unique_id']", form=form) }}

{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}