{% from 'chat/_macros_chat_message.html' import (bot_message, bot_message_without_date, user_message,
submit_message_get)
%}

<div id="chat-main" class="py-3 px-4 h-475 flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %}
  {% include 'chat/chat_spinner.html' %}

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif %}
    {{ bot_message("Please input your phone") }}
  </div>
</div>

<input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
<input type="hidden" name="user_unique_id" value="{{ user_unique_id }}" />
{{ submit_message_get('chat.create_user_email', "[name='room_unique_id'], "[name='user_unique_id']",
[name='user_message']") }}

{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}