{% from 'chat/_macros_chat_message.html' import bot_message_without_dates %}

{% set html_element %}
{% set all_filters = "[name='room_unique_id'], [name='user_unique_id']" %}
<input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
<input type="hidden" name="user_unique_id" value="{{ user_unique_id }}" />
<div class="mt-2 w-265 flex flex-col gap-3">
  <div class="flex flex-col gap-2">
    <button type="button" hx-get="{{ url_for('chat.auth.reset_registration') }}" hx-target="#chat-body"
      hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}"
      class="link p-2 w-full text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
      <div class="flex flex-col gap-1 justify-center items-center">
        <span>Renew registration</span>
      </div>
    </button>
  </div>
</div>
{% endset %}

{{ bot_message_without_date(html_element=html_element) }}