<div>
  {% include 'chat/chat_messages.html' %}

  <div class="flex justify-end">
    <div class="mt-2 w-5/6 flex flex-col gap-2">
      <a href="{{ profile_url }}"
        class="p-2 text-center text-secondary border border-secondary rounded-xl hover:bg-secondary hover:text-black active:bg-secondary">Perfil</a>

      <button type="button" hx-get="{{ url_for('chat.sell') }}" hx-target="#chat-body" hx-swap="innerHTML"
        hx-trigger="click" hx-include="{{ all_filters }}"
        class="p-2 text-center text-secondary border border-secondary rounded-xl hover:bg-secondary hover:text-black active:bg-secondary">
        Add ticket
      </button>
      <button type="button" hx-get="{{ url_for('chat.buy') }}" hx-target="#chat-body" hx-swap="innerHTML"
        hx-trigger="click" hx-include="{{ all_filters }}"
        class="p-2 text-center text-secondary border border-secondary rounded-xl hover:bg-secondary hover:text-black active:bg-secondary">
        Search tickets
      </button>
    </div>
  </div>
</div>

{% include 'chat/chat_submit_form.html' %}

{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}