{% from 'chat/_macros_chat_message.html' import bot_message, bot_message_without_date, user_message,
submit_message_disable
%}

<div id="chat-main" class="py-3 px-4  flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %}
  {% include 'chat/chat_spinner.html' %}

  {% set all_filters = "[name='room_unique_id'], [name='user_unique_id']" %}

  {% set html_element %}
  <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
  <input type="hidden" name="user_unique_id" value="{{ user_unique_id }}" />
  <div class="mt-2 flex gap-2">
    <button type="button" hx-get="{{ url_for('chat.sell', save_history=True) }}" hx-target="#chat-body"
      hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}" hx-indicator="#chat-message-spinner"
      class="link p-2 w-full text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
      Sell
    </button>
    <button type="button" hx-get="{{ url_for('chat.buy', save_history=True) }}" hx-target="#chat-body"
      hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}" hx-indicator="#chat-message-spinner"
      class="link p-2 w-full text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
      Buy
    </button>
  </div>
  {% endset %}

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif %}
    {{ bot_message(current_user.name + ", how can I assist you? Are you looking to buy or sell a ticket?", html_element)
    }}

    {% include 'chat/registration/renew_registration.html' %}

    <div id="chat-message-spinner" class="htmx-indicator flex gap-2 justify-start">
      {% include 'chat/chat_spinner_active.html' %}
    </div>
  </div>
</div>

{{ submit_message_disable() }}

{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}