<div>
    {% for message in messages %}
    {% if message.sender_id == 2 %}
    {% set background_color = 'bg-white' %}
    {% set justify = 'justify-end' %}
    {% else %}
    {% set background_color = 'bg-blue-200' %}
    {% endif %}
    <div class="flex {{justify}}">
        <small class="pt-1">{{ message.sender_id }} {{ message.created_at }}</small>
    </div>

    <div class="flex {{justify}}">
        <p class="w-5/6 p-2 mb-2 rounded-lg {{background_color}}">
            {{message.text }}
        </p>
    </div>
    {% endfor %}

</div>