{% extends "landing/base.html" %}
<!-- prettier-ignore -->
{% block main_content %}

<!-- component -->
<div class="w-full lg:w-500 mt-28 py-4 flex flex-col border rounded-3xl bg-modal-auth-gradient">
  <div class="pb-5 px-6 border-b border-light-grey-b0">
    <h2 class="text-3xl">Cadastro</h2>
  </div>
    <form
      role="form"
      action="{{ url_for('auth.register') }}"
      method="post"
      class="relative py-9 px-6 flex flex-col gap-4">
      {{ form_hidden_tag() }}
      <div class="absolute top-1 left-1/2 -translate-x-1/2">
        {% for error in form.errors.email %}
        <span class="text-center text-danger text-sm">{{error}}</span>
        {% endfor %}
      </div>
      <input
        name="username"
        class="py-4 px-4 rounded-2xl button-gradient-grey"
        type="text"
        placeholder="Nome de usuário" />
      <input
        name="email"
        class="py-4 px-4 rounded-2xl button-gradient-grey"
        type="email"
        placeholder="Entre com seu e-mail aqui" />
      <input
        name="password"
        class="py-4 px-4 rounded-2xl button-gradient-grey"
        type="password"
        placeholder="Senha" />
      <input
        name="password_confirmation"
        class="mb-5 py-4 px-4 rounded-2xl button-gradient-grey"
        type="password"
        placeholder="Confirme sua senha" />
      <button
        type="submit"
        class="py-4 flex gap-2 justify-center items-center rounded-2xl bg-secondary hover:bg-yellow-400 hover:text-white transition-all duration-300">
        <span class="text-black text-lg">Continuar com e-mail</span>
      </button>
    </form>
    <div class="px-6 self-center flex justify-center items-center">
      <p class="text-grey text-center">
        Ao clicar em continuar, você confirma que tem mais de 16 anos e concorda
        com nosso
        <a href="#" class="text-secondary underline">Termos e condições</a>
      </p>
      </p>
    </div>
  </div>
</div>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% endblock %}