{% extends "landing/base.html" %}
<!-- prettier-ignore -->
{% block main_content %}

<!-- component -->
<div class="w-full lg:w-500 mt-28 py-4 flex flex-col border rounded-3xl bg-modal-auth-gradient">
  <div class="pb-5 px-6 border-b border-light-grey-b0">
    <h2 class="text-3xl">Reset Password</h2>
  </div>
  <div class="px-6 flex flex-col">
    <form role="form"
      action="{{ url_for('auth.password_recovery',reset_password_uuid=user.reset_password_uuid, email=user.email) }}"
      method="post" class="py-9 flex flex-col gap-4">
      {{ form_hidden_tag() }}
      <div class="absolute top-1 left-1/2 -translate-x-1/2">
        {% for error in form.errors.email %}
        <span class="text-center text-danger text-sm">{{error}}</span>
        {% endfor %}
      </div>
      <input name="password" class="py-4 px-4 rounded-2xl button-gradient-grey focus:ring-0 focus:border-transparent"
        type="password" placeholder="Create new password" />
      <input name="password_confirmation"
        class="py-4 px-4 rounded-2xl button-gradient-grey focus:ring-0 focus:border-transparent" type="password"
        placeholder="Confirm password" />
      <button type="submit"
        class="py-4 flex gap-2 justify-center items-center rounded-2xl bg-secondary hover:bg-yellow-400 hover:text-white transition-all duration-300">
        <span class="text-black text-lg">Reset Password</span>
      </button>
    </form>
  </div>
</div>
{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
{% endblock %}