{% extends "landing/base.html" %}
<!-- prettier-ignore -->
{% block main_content %}
<div class="my-16 self-start flex flex-col gap-2">
  <h1 class="text-6xl">Notificaçõess</h1>
</div>


<!-- prettier-ignore -->
{% if notifications|length == 0 %}
<div class="self-stretch flex flex-col gap-8">
  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-8">
    <p>Você ainda não tem nenhuma notificação.</p>
  </div>
</div>
{% else %}
<div class="self-stretch flex flex-col gap-8">
  <!-- prettier-ignore -->
  {% for notification in notifications %}
  {% include 'user/notification/notification.html' %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}