{% extends "landing/base.html" %}
<!-- prettier-ignore -->
{% block main_content %}
{% set all_filters = "[name='code']" %}

<div class="my-16 self-start flex flex-col gap-2">
    <h1 class="text-6xl">Phone Verification</h1>

    <button type="button" hx-get="{{ url_for('chat.send_code') }}" hx-trigger="click" hx-include="{{ all_filters }}"
        class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
        Send code</button>

    <p class="text-grey">
        Enter verification code
    </p>
    <form>
        <input type="text" name="verification_code" class="border border-white bg-transparent rounded-lg">
        <button type="button" hx-get="{{ url_for('chat.check') }}" hx-target="#chat-window" hx-swap="innerHTML"
            hx-trigger="click" hx-include="{{ all_filters }}"
            class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
            Submit</button>
    </form>
</div>


{% endblock %}
{% block scripts %}
{% endblock %}