{% set all_filters = "[name='user_message'], [name='room_unique_id'], [name='user_unique_id']" %}
<div>
  <p>{{route}} !!!!!!!!</p>
  <label for="chat" class="sr-only">Your message</label>
  <div class="py-3 px-4 flex gap-2 items-center text-grey bg-dark-grey rounded-b-2xl">
    <input type="hidden" name="user_unique_id" value="{{ user_unique_id }}" />
    {% if room %}
    <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
    {% endif %}
    <input id="chat" rows="1" name="user_message"
      class="block p-2.5 w-full text-sm text-white bg-dark-grey rounded-lg border border-middle-grey outline-none"
      placeholder="{{ route }}" />
    <button id="chat-send-message-button" type="button" hx-get="1" hx-target="#chat-body" hx-swap="innerHTML"
      hx-trigger="click" hx-include="{{ all_filters }}"
      class="inline-flex justify-center p-2 text-grey hover:text-light-grey-b0 rounded-full cursor-pointer">
      <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 18 20">
        <path
          d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
      </svg>
      <span class="sr-only">Send message</span>
    </button>
  </div>
</div>