<!-- prettier-ignore -->
<div class="p-4 flex justify-between items-center rounded-t-2xl" id="chat-header">
  {% set all_filters = "[name='room_unique_id']" %}
  <button type="button" hx-get="{{ url_for('chat.home') }}" hx-target="#chat-body" hx-swap="innerHTML"
    hx-trigger="click" hx-include="{{ all_filters }}"
    class="p-3 z-50 w-14 h-14 rounded-50% bg-secondary hover:scale-110 transform transition-transform duration-300">
    <svg class="chat-icon-open  w-full h-full transform transition-all duration-500 fill-black"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 32">
      <path
        d="M28 32s-4.714-1.855-8.527-3.34H3.437C1.54 28.66 0 27.026 0 25.013V3.644C0 1.633 1.54 0 3.437 0h21.125c1.898 0 3.437 1.632 3.437 3.645v18.404H28V32zm-4.139-11.982a.88.88 0 00-1.292-.105c-.03.026-3.015 2.681-8.57 2.681-5.486 0-8.517-2.636-8.571-2.684a.88.88 0 00-1.29.107 1.01 1.01 0 00-.219.708.992.992 0 00.318.664c.142.128 3.537 3.15 9.762 3.15 6.226 0 9.621-3.022 9.763-3.15a.992.992 0 00.317-.664 1.01 1.01 0 00-.218-.707z">
      </path>
    </svg>
    <span class="sr-only">Home</span>
  </button>
  <span id="chat-header-title" class="text-2xl">Chatbot</span>
  <button id="chat-close-button" hx-get="{{ url_for('chat.close') }}" hx-target="#chat-body" hx-swap="innerHTML"
    hx-trigger="click" hx-indicator="#chat-message-spinner" hx-include="{{ all_filters }}"
    class="w-14 h-14 ">&#x2715;</button>
</div>