{% include 'chat/chat_icon.html' %}



{% if current_user.is_authenticated %}
{% set user_name = current_user.username %}
{% else %}
{% set user_name = 'Guest' %}
{% endif %}

<div id="chat-window"
  class="chat-window-close fixed bottom-28 right-10 z-50 w-96 h-600 py-3 px-4 flex-col justify-start items-stretch overflow-y-scroll bg-chat-window rounded-2xl bg-grey">
  {% if get_chat_room_messages() %}
  {% for message in get_chat_room_messages() %}
  {% if message.sender_id == 2 %}
  {% set user_name = 'FanTicket' %}
  {% set background_color = 'bg-secondary' %}
  {% set justify = 'justify-end' %}
  {% else %}
  {% if current_user.is_authenticated %}
  {% set user_name = current_user.username %}
  {% else %}
  {% set user_name = 'Guest' %}
  {% endif %}
  {% set background_color = 'bg-white' %}
  {% endif %}


  <div class="flex text-white {{justify}}">
    <small class="pt-1">{{ user_name }} {{ cut_seconds(message.created_at) }}</small>
  </div>

  <div class="flex text-black {{justify}}">
    <p class="w-5/6 p-2 mb-2 rounded-t-lg rounded-bl-lg {{background_color}}">
      {{message.text }}
    </p>
  </div>
  {% endfor %}
  {% endif %}

  <div class="flex text-white justify-end">
    <small class="pt-1">FanTicket {{ cut_seconds() }}</small>
  </div>

  <div class="flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-t-lg rounded-bl-lg bg-secondary">
      Hi, {{ user_name }}!
    </p>
  </div>

  <div class="flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-t-lg rounded-bl-lg bg-secondary">
      Are you looking for buying or selling tickets or for events information?
    </p>
  </div>

  <div class="flex justify-end">
    <div class="mt-2 w-5/6 flex gap-2">
      <button id="chat-window-buy" hx-get="{{ url_for('chat.sell') }}" hx-target="#chat-window" hx-swap="innerHTML"
        hx-trigger="click"
        class="w-1/2 p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
        Selling
      </button>
      <button id="chat-window-events" hx-get="{{ url_for('chat.events') }}" hx-target="#chat-window" hx-swap="innerHTML"
        hx-trigger="click"
        class="w-1/2 p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
        Buying
      </button>
    </div>
  </div>
</div>