<div>
  {% include 'chat/chat_messages.html' %}
  <div class="flex text-white justify-end">
    <small class="pt-1">FanTicket {{ now }}</small>
  </div>
  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-lg bg-secondary">
      What event are you selling tickets for?
    </p>
  </div>

  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 rounded-t-lg rounded-bl-lg bg-secondary">
      Please, input event name.
    </p>
  </div>

  {% if error_message %}
  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-lg text-white bg-red-600">
      {{ error_message }}
    </p>
  </div>
  {% endif %} {% set all_filters = "[name='event_name'],
  [name='room_unique_id'], [name='user_unique_id']" %}
  <div class="mt-2 flex justify-around">
    <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
    <input
      type="hidden"
      name="user_unique_id"
      value="{{ current_user.uuid }}" />
    <input
      type="text"
      name="event_name"
      class="border border-white bg-transparent rounded-lg"
      placeholder="Input event name" />
    <button
      type="button"
      hx-get="{{ url_for('sell.get_events') }}"
      hx-target="#chat-body"
      hx-swap="innerHTML"
      hx-trigger="click"
      hx-include="{{ all_filters }}"
      class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
      Submit
    </button>
  </div>
</div>
