<div>
  {% include 'chat/chat_messages.html' %}
  <div class="flex text-white justify-end">
    <small class="pt-1">FanTicket {{ now }}</small>
  </div>
  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-lg bg-secondary">
      Event has been successfully added!
    </p>
  </div>

  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-lg bg-secondary">
      Please, input ticket details.
    </p>
  </div>

  <input type="text" name="section" class="border border-white bg-transparent rounded-lg" placeholder="Input section" />
  <input type="text" name="queue" class="border border-white bg-transparent rounded-lg" placeholder="Input queue" />
  <input type="text" name="seat" class="border border-white bg-transparent rounded-lg" placeholder="Input seat" />
  <input type="text" name="quantity" class="border border-white bg-transparent rounded-lg"
    placeholder="Input quantity" />
  <input type="text" name="price" class="border border-white bg-transparent rounded-lg" placeholder="Input price" />
  <input type="file" name="ticket_file" class="border border-white bg-transparent rounded-lg"
    placeholder="Upload your ticket" />

  {% if error_message %}
  <div class="mb-8 flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-lg text-white bg-red-600">
      {{ error_message }}
    </p>
  </div>
  {% endif %}
  {% set all_filters = "[name='event_id'], [name='room_unique_id'], [name='section'],
  [name='queue'], [name='seat'], [name='quantity'], [name='price']" %}
  <div class="mt-2 flex justify-around">
    <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
    <input type="hidden" name="event_id" value="{{ event.unique_id }}" />
    <button type="button" hx-get="{{ url_for('sell.create_ticket') }}" hx-target="#chat-window" hx-swap="innerHTML"
      hx-trigger="click" hx-include="{{ all_filters }}"
      class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
      Submit
    </button>
  </div>
</div>