{% from 'chat/_macros_chat_message.html' import bot_message,
bot_message_without_date, user_message, submit_message_get %}

<div id="chat-main" class="py-3 px-4  flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %} {% include 'chat/chat_spinner.html' %}
  {% set html_element %}
  {% set all_filters = "[name='room_unique_id'],[name='event_unique_id'], [name='ticket_unique_id']" %}
  <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
  <input type="hidden" name="event_unique_id" value="{{ event_unique_id }}" />
  <input type="hidden" name="ticket_unique_id" value="{{ ticket_unique_id }}" />

  {% include 'tickets/share.html' %}

  <div class="mt-2 w-265 flex flex-col gap-2">
    <button type="button" hx-get="{{ url_for('chat.sell') }}" hx-target="#chat-body" hx-swap="innerHTML"
      hx-trigger="click" hx-include="{{ all_filters }}"
      class="link p-2 w-full mt-2 text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
      Add another ticket
    </button>
    <button type="button" hx-get="{{ url_for('chat.home', save_history=True) }}" hx-target="#chat-body"
      hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}" hx-indicator="#chat-message-spinner"
      class="link p-2 w-full text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
      End the conversation
    </button>
  </div>
  {% endset %}

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif%}
    {{ bot_message("Done🎉 Now a little patience, we need to verify your posting. You will receive a notification and a
    letter to your email
    as soon as possible!") }}
    {{bot_message_without_date(html_element=html_element) }}

    <div id="chat-message-spinner" class="htmx-indicator flex gap-2 justify-start">
      {% include 'chat/chat_spinner_active.html' %}
    </div>
  </div>
</div>

{{ submit_message_get('chat.sell.ticket.get_file_type', "[name='room_unique_id'],
[name='user_message']", disabled='disabled') }}

{% block scripts %}
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/social_media.js') }}" type="text/javascript" defer></script>
{% endblock %}