{% from 'chat/_macros_chat_message.html' import bot_message,
bot_message_without_date, user_message, submit_message_get %}

<div id="chat-main" class="py-3 px-4 h-475 flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %} {% include 'chat/chat_spinner.html' %}
  {% set html_element %}
  {% set all_filters = "[name='room_unique_id'],[name='event_unique_id'], [name='ticket_unique_id']" %}
  <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
  <input type="hidden" name="event_unique_id" value="{{ event_unique_id }}" />
  <input type="hidden" name="ticket_unique_id" value="{{ ticket_unique_id }}" />
  <div class="mt-2 w-265 flex justify-stretch gap-2">
    <button type="button" id="chat-window-buy" hx-get="{{ url_for('sell.has_ticket_seat', ticket_has_seat=True) }}"
      hx-target="#chat-body" hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}"
      class="link p-2 w-full text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
      Yes
    </button>
    <button type="button" id="chat-window-events" hx-get="{{ url_for('sell.has_ticket_seat', ticket_has_seat=False) }}"
      hx-target="#chat-body" hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}"
      class="link p-2 w-full text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
      No
    </button>
  </div>
  {% endset %}

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif%}
    {{ bot_message("Does the ticket have a seat?") }}
    {{bot_message_without_date(html_element=html_element) }}

    <div id="chat-message-spinner" class="htmx-indicator flex gap-2 justify-start">
      {% include 'chat/chat_spinner_active.html' %}
    </div>
  </div>
</div>

{{ submit_message_get('buy.get_event_name', "[name='room_unique_id'],
[name='user_message']", disabled='disabled') }} {% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}