{% from 'chat/_macros_chat_message.html' import bot_message,
bot_message_without_date, user_message, submit_ticket_pdf %}

<div id="chat-main" class="py-3 px-4  flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %} {% include 'chat/chat_spinner.html' %}
  {% set all_filters = "[name='room_unique_id'],[name='event_unique_id'],
  [name='ticket_unique_id']" %}
  <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
  <input type="hidden" name="user_unique_id" value="{{ current_user.uuid }}" />
  <input type="hidden" name="ticket_unique_id" value="{{ ticket_unique_id }}" />

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif%}
    {% if ticket_paired %}
    {{ bot_message("Please upload two PDF files") }}
    {% else %}
    {{ bot_message("Please upload ticket's PDF document") }}
    {%endif %}

    <div id="chat-message-spinner" class="htmx-indicator flex gap-2 justify-start">
      {% include 'chat/chat_spinner_active.html' %}
    </div>
  </div>
</div>

{{ submit_ticket_pdf('get_ticket_document', "[name='user_unique_id'],
[name='room_unique_id'], [name='ticket_unique_id'], [name='file']", form=form)
}} {% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}