{% from 'chat/_macros_chat_message.html' import bot_message,
bot_message_without_date, user_message, submit_message_get %}

<div id="chat-main" class="py-3 px-4 h-475 flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %} {% include 'chat/chat_spinner.html' %}
  {% set all_filters = "[name='room_unique_id'],[name='event_unique_id'], [name='ticket_unique_id']" %}
  <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
  <input type="hidden" name="event_unique_id" value="{{ event_unique_id }}" />
  <input type="hidden" name="ticket_unique_id" value="{{ ticket_unique_id }}" />

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif%}

    {% if ticket_paired %}
    {{ bot_message("Please enter seats for both tickets separating them with comma. For example: 23,24") }}
    {% else %}
    {{ bot_message("Please enter ticket's seat") }}
    {% endif %}

    <div id="chat-message-spinner" class="htmx-indicator flex gap-2 justify-start">
      {% include 'chat/chat_spinner_active.html' %}
    </div>
  </div>
</div>

{{ submit_message_get('sell.get_ticket_seat', "[name='room_unique_id'], [name='user_message'],
[name='event_unique_id'], [name='ticket_unique_id']")
}}

{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
{% endblock %}