<div class="my-0 mb-16 mx-auto">
  <div class="swiper-container flex items-center gap-6">
    <!-- Slider main container -->
    <div class="swiper-button-prev text-grey"></div>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <!-- prettier-ignore -->
        {% include 'landing/home/slide_city.html' %}
          {% include 'landing/home/slide_city.html' %}
          {% include 'landing/home/slide_city.html' %}
          {% include 'landing/home/slide_city.html' %}
          {% include 'landing/home/slide_city.html' %}
          {% include 'landing/home/slide_city.html' %}
      </div>
      <!-- If we need navigation buttons -->
    </div>
    <div class="swiper-button-next"></div>
  </div>
</div>
