<div class="scroll-x-container">
  <div class="scroll-x-modules h-44">
    <a
      href="#"
      class="scroll-x-module w-80 h-44 relative border border-light-grey rounded-2xl">
      <div
        class="ml-4 relative top-1/2 -translate-y-1/2 z-10 flex items-center gap-5">
        <img
          class="w-20 h-20 rounded-50%"
          src="{{url_for('static',filename='img/girl-temp-avatar.png')}}"
          alt="avatar" />
        <div class="mr-4 flex flex-col">
          <p class="text-xl text-black">Letícia Fagundes</p>
          <p class="text-grey">Minas Gerais/MG</p>
          <p class="text-sm text-grey">
            Lorem ipsum dolor sit amet, <br />
            consectetur adipiscing elit. <br />
            Auctor elementum convallis.
          </p>
        </div>
      </div>
    </a>
    <a
      href="#"
      class="scroll-x-module w-80 h-44 relative border border-light-grey rounded-2xl">
      <div
        class="ml-4 relative top-1/2 -translate-y-1/2 z-10 flex items-center gap-5">
        <img
          class="w-20 h-20 rounded-50%"
          src="{{url_for('static',filename='img/girl-temp-avatar.png')}}"
          alt="avatar" />
        <div class="mr-4 flex flex-col">
          <p class="text-xl text-black">Letícia Fagundes</p>
          <p class="text-grey">Minas Gerais/MG</p>
          <p class="text-sm text-grey">
            Lorem ipsum dolor sit amet, <br />
            consectetur adipiscing elit. <br />
            Auctor elementum convallis.
          </p>
        </div>
      </div>
    </a>
    <a
      href="#"
      class="scroll-x-module w-80 h-44 relative border border-light-grey rounded-2xl">
      <div
        class="ml-4 relative top-1/2 -translate-y-1/2 z-10 flex items-center gap-5">
        <img
          class="w-20 h-20 rounded-50%"
          src="{{url_for('static',filename='img/girl-temp-avatar.png')}}"
          alt="avatar" />
        <div class="mr-4 flex flex-col">
          <p class="text-xl text-black">Letícia Fagundes</p>
          <p class="text-grey">Minas Gerais/MG</p>
          <p class="text-sm text-grey">
            Lorem ipsum dolor sit amet, <br />
            consectetur adipiscing elit. <br />
            Auctor elementum convallis.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
