<div class="swiper-container slider-review flex items-center gap-6 w-10/12">
  <!-- prettier-ignore -->
  <!-- Slider main container -->
  <div class="swiper-button-prev swiper-review-button"></div>
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <!-- prettier-ignore -->
      {% include 'landing/home/slide_review.html' %}
      {% include 'landing/home/slide_review.html' %}
      {% include 'landing/home/slide_review.html' %}
      {% include 'landing/home/slide_review.html' %}
      {% include 'landing/home/slide_review.html' %}
      {% include 'landing/home/slide_review.html' %}
    </div>
    <!-- If we need navigation buttons -->
  </div>
  <div class="swiper-button-next swiper-review-button"></div>
</div>
