<form action="{{ url_for('user.set_notifications') }}" method="post" id="profile_notifications"
    hx-post="{{ url_for('user.set_notifications') }}" hx-target="#profile_notifications" hx-swap="innerHTML">
    <p class="pt-3">Email notifications settings</p>
    <div class="flex my-2">
        {% if user.notifications_config.new_event %}
        <input type="checkbox" name="new_event" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="new_event" class="mx-2">
        {% endif %}
        <p>New Event</p>
    </div>

    <div class="flex my-2">
        {% if user.notifications_config.new_ticket %}
        <input type="checkbox" name="new_ticket" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="new_ticket" class="mx-2">
        {% endif %}
        <p>New ticket (Subscriptions)</p>
    </div>

    <div class="flex my-2">
        {% if user.notifications_config.new_message %}
        <input type="checkbox" name="new_message" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="new_message" class="mx-2">
        {% endif %}
        <p>New message</p>
    </div>

    <div class="flex my-2">
        {% if user.notifications_config.new_buyers_payment %}
        <input type="checkbox" name="new_buyers_payment" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="new_buyers_payment" class="mx-2">
        {% endif %}
        <p>Buyer's payment received by the system</p>
    </div>

    <div class="flex my-2">
        {% if user.notifications_config.ticket_transfer_confirmed %}
        <input type="checkbox" name="ticket_transfer_confirmed" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="ticket_transfer_confirmed" class="mx-2">
        {% endif %}
        <p>Ticket transfer confirmed</p>
    </div>

    <div class="flex my-2">
        {% if user.notifications_config.dispute_started %}
        <input type="checkbox" name="dispute_started" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="dispute_started" class="mx-2">
        {% endif %}
        <p>Dispute started</p>
    </div>

    <div class="flex my-2">
        {% if user.notifications_config.dispute_resolved %}
        <input type="checkbox" name="dispute_resolved" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="dispute_resolved" class="mx-2">
        {% endif %}
        <p>Dispute resolved</p>
    </div>

    <div class="flex my-2">
        {% if user.notifications_config.your_payment_received %}
        <input type="checkbox" name="your_payment_received" class="mx-2" checked>
        {% else %}
        <input type="checkbox" name="your_payment_received" class="mx-2">
        {% endif %}
        <p>Your payment received by the system</p>
    </div>

    <button type="submit" class="bg-blue-300 text-white py-1 px-2 rounded-md">
        save
    </button>
</form>