<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ config.APP_NAME }}</title>
    <!-- meta -->
    <meta name="description" content="Fan Ticket App" />
    <meta name="author" content="Simple2B" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    {% block meta %}{% endblock %}

    <!-- styles -->
    <!-- prettier-ignore -->
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"></script>
    <!-- prettier-ignore -->
    <script>
    // On page load or when changing themes, best to add inline in `head` to avoid FOUC
    if (
      localStorage.getItem("color-theme") === "dark" ||
      (!("color-theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
  </script>
    <!-- prettier-ignore -->
    {% block links %}
  {% endblock %}
  </head>

  <body class="text-white">
    <!-- prettier-ignore -->
    {% block body %}
    <div class="pt-8 pb-24 bg-no-repeat bg-cover bg-concert">
      {% include 'landing/header.html' %} {% block main_content %} {% endblock
      %}
    </div>
    {% block content %} {% endblock %} {% endblock %}

    <!-- prettier-ignore -->
    <script src="{{ url_for('static', filename='js/base.js') }}" type="text/javascript" defer></script>

    {% block scripts %} {% endblock %}
  </body>
</html>
