{% extends 'base.html' %}
{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <p class="mt-5 mb-2 ml-3 text-3xl dark:text-white">Events</p>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">#</th>
        <th scope="col" class="px-6 py-3">Name</th>
        <th scope="col" class="px-6 py-3">url</th>
        <th scope="col" class="px-6 py-3">observations</th>
        <th scope="col" class="px-6 py-3">warning</th>
        <th scope="col" class="px-6 py-3">date</th>
        <th scope="col" class="px-6 py-3">days from now</th>
        <th scope="col" class="px-6 py-3">location</th>
        <th scope="col" class="px-6 py-3">category</th>
        <th scope="col" class="px-6 py-3">created_by</th>
        <th scope="col" class="px-6 py-3">tickets</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="w-4 p-4">
          <div class="flex items-center">
            {{ loop.index }}
          </div>
        </td>
        <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
          <div class="pl-3">
            <div class="text-base font-semibold">{{ event.name }}</div>
          </div>
        </td>
        <td class="p-4 text-base font-normal text-gray-900 whitespace-nowrap dark:text-white">
          {{ event.url }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ event.observations[:23] }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ event.warning }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ date_from_datetime(event.date_time) }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ time_delta(event.date_time) }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ event.location.name }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ event.category.name }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ event.creator.username }}
        </td>
        <td class="p-4 space-x-2 whitespace-nowrap">
          {{ event.tickets }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}