{% macro notification_new_user(username, notification) -%}
<a href="#" class="flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700">
  <div class="flex-shrink-0">
    <div
      class="absolute flex items-center justify-center w-5 h-5 ml-6 -mt-5 bg-gray-900 border border-white rounded-full dark:border-gray-800">
      <svg
        class="w-3 h-3 text-white"
        aria-hidden="true"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8 9a3 3 0 100-6 3 3 0 000 6zM8 11a6 6 0 016 6H2a6 6 0 016-6zM16 7a1 1 0 10-2 0v1h-1a1 1 0 100 2h1v1a1 1 0 102 0v-1h1a1 1 0 100-2h-1V7z"></path>
      </svg>
    </div>
  </div>
  <div class="w-full pl-3">
    <div class="text-gray-500 text-sm mb-1.5 dark:text-gray-400">
      <!-- prettier-ignore -->
      <span class="font-semibold text-gray-900 dark:text-white">New user</span>
      {{ username }} has registered.
    </div>
    <div class="text-xs text-blue-600 dark:text-blue-500">
      {{ notification.created_at.strftime('%Y-%m-%d %H:%M') }}
    </div>
  </div>
</a>
{%- endmacro %}
