@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-danger {
  color: red;
}

.bg-main {
  background: #111 url('/static/img/backgrounds/concert_mobile.png') no-repeat
    top;
  background-size: contain;
}

@media (min-width: 1024px) {
  .bg-main {
    background: none;
    background-image: url('/static/img/backgrounds/concert.png');
    background-size: cover;
  }
}

.bg-main-events {
  background: linear-gradient(341deg, #393939 0.3%, #151515 32.12%);
}

.bg-chat-window {
  background: linear-gradient(341deg, #393939 -40.3%, #151515 55.12%);
}

.bg-main-review {
  background: linear-gradient(0deg, #fff 0%, #fff 100%),
    linear-gradient(270deg, #e9ecf4 81.17%, rgba(233, 236, 244, 0) 116.25%);
}

.crop-image-50 {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}

.header-sticky {
  background: rgba(10, 10, 10, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.scroll-top-anchor-open {
  left: 50%;
  transform: translateX(-50%);
  max-height: 300px;
  overflow: hidden;
  transition: max-height 1s ease-in;
}

.link:hover {
  color: #1c1c1c;
  background-color: #f2b705;
  border-color: #f2b705;
}

.scroll-top-anchor-close {
  left: 50%;
  transform: translateX(-50%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}

.swiper-button-prev {
  position: static !important;
  display: block !important;
  color: #99a1a3 !important;
  cursor: pointer;
}

.swiper-button-next {
  display: block !important;
  position: static !important;
  color: #99a1a3 !important;
  cursor: pointer;
}

.swiper {
  position: relative;
  width: 90vw;
  max-width: 1280px;
}

.swiper-slide {
  display: flex !important;
}

.bg-footer {
  background: linear-gradient(253deg, #393939 -3.03%, #1c1c1c 40.15%);
}

.scroll-x-container {
  width: 100vw;
}

.scroll-x-modules {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.scroll-x-modules::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scroll-x-modules {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.scroll-x-module {
  display: inline-block;
  text-align: center;
}

.scroll-x-module + .scroll-x-module {
  margin-left: 12px;
}

.bg-datalist-location {
  background: radial-gradient(
    130.96% 130.96% at 93.3% 91.9%,
    rgba(130, 130, 130, 0.1) 0%,
    rgba(50, 50, 50, 0.1) 100%
  );
  border: 1px solid var(--Degrade-contorno, #828282);
  border-radius: 0 0 5px 5px;
  border-top: none;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.bg-option-location {
  margin-bottom: 1px;
  background: radial-gradient(
    130.96% 130.96% at 93.3% 91.9%,
    rgba(130, 130, 130, 0.1) 0%,
    rgba(50, 50, 50, 0.1) 100%
  );
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.bg-filter-gradient-grey {
  background: radial-gradient(
    130.96% 130.96% at 93.3% 91.9%,
    rgba(130, 130, 130, 0.1) 0%,
    rgba(50, 50, 50, 0.1) 100%
  );
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.dropdown-close {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-open {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.6s ease-in;
}

.chat-window-open {
  max-height: 1000px;
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.3s ease-in;
}

.chat-window-close {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out;
}

.button-gradient-grey {
  background: linear-gradient(#1c1c1c, #1c1c1c) padding-box,
    linear-gradient(180deg, #828282 0%, #323232 100%) border-box;
  border-radius: 16px;
  border: 1px solid transparent;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(-180deg) scale(0.4);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}

.chat-icon-active {
  opacity: 1;
  animation: rotateAnimation 0.3s ease-in-out forwards;
}

.chat-icon-inactive {
  transform: rotate(180deg) scale(0.4);
  opacity: 0;
}
