@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-danger {
  color: red;
}

/* backgrounds */
.bg-main {
  background: #111 url('/static/img/backgrounds/concert_mobile.png') no-repeat
    top;
  background-size: contain;
}

@media (min-width: 1024px) {
  .bg-main {
    background: none;
    background-image: url('/static/img/backgrounds/concert.png');
    background-size: cover;
  }
}

.bg-main-events {
  background: linear-gradient(341deg, #393939 0.3%, #151515 32.12%);
}

.bg-chat-window {
  background: linear-gradient(341deg, #393939 -40.3%, #151515 55.12%);
}

.bg-main-review {
  background: linear-gradient(0deg, #fff 0%, #fff 100%),
    linear-gradient(270deg, #e9ecf4 81.17%, rgba(233, 236, 244, 0) 116.25%);
}

.bg-footer {
  background: linear-gradient(253deg, #393939 -3.03%, #1c1c1c 40.15%);
}

.crop-image-50 {
  width: 100%;
  height: auto;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 50%);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: red;
  background-color: #353232;
}

::-webkit-scrollbar-track {
  /* background-color: #7e7e7e; */
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #f2b705;
  border-radius: 5px;
}

.scroll-x-container {
  width: 100vw;
}

.scroll-x-modules {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 5px;
}

.scroll-x-modules::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scroll-x-modules {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.scroll-x-module {
  display: inline-block;
  text-align: center;
}

.scroll-x-module + .scroll-x-module {
  margin-left: 12px;
}

.bg-datalist-location {
  background: radial-gradient(
    130.96% 130.96% at 93.3% 91.9%,
    rgba(130, 130, 130, 0.1) 0%,
    rgba(50, 50, 50, 0.1) 100%
  );
  border: 1px solid var(--Degrade-contorno, #828282);
  border-radius: 0 0 5px 5px;
  border-top: none;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.bg-option-location {
  margin-bottom: 1px;
  background: radial-gradient(
    130.96% 130.96% at 93.3% 91.9%,
    rgba(130, 130, 130, 0.1) 0%,
    rgba(50, 50, 50, 0.1) 100%
  );
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.bg-filter-gradient-grey {
  background: radial-gradient(
    130.96% 130.96% at 93.3% 91.9%,
    rgba(130, 130, 130, 0.1) 0%,
    rgba(50, 50, 50, 0.1) 100%
  );
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.bg-modal-auth-gradient {
  background: radial-gradient(
        130.96% 130.96% at 93.3% 91.9%,
        rgba(130, 130, 130, 0.1) 0%,
        rgba(50, 50, 50, 0.1) 100%
      )
      padding-box,
    radial-gradient(
        130.96% 130.96% at 93.3% 91.9%,
        rgba(130, 130, 130, 0.1) 0%,
        rgba(50, 50, 50, 0.1) 100%
      )
      border-box;
  border-radius: 29px;
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.bg-test-gradient {
  background: radial-gradient(
        130.96% 130.96% at 93.3% 91.9%,
        rgba(130, 130, 130, 0.1) 0%,
        rgba(50, 50, 50, 0.1) 100%
      )
      padding-box,
    radial-gradient(
        130.96% 130.96% at 93.3% 91.9%,
        rgba(130, 130, 130, 0.1) 0%,
        rgba(50, 50, 50, 0.1) 100%
      )
      border-box;
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

/* button style */
.link:hover {
  color: #1c1c1c;
  background-color: #f2b705;
  border-color: #f2b705;
}

.button-gradient-grey {
  background: linear-gradient(#1c1c1c, #1c1c1c) padding-box,
    linear-gradient(180deg, #828282 0%, #323232 100%) border-box;
  border-radius: 16px;
  border: 1px solid transparent;
}

/* header */
.header-sticky {
  background: rgba(10, 10, 10, 0.4);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

/* footer */
.scroll-top-anchor-open {
  left: 50%;
  transform: translateX(-50%);
  max-height: 300px;
  overflow: hidden;
  transition: max-height 1s ease-in;
}

.scroll-top-anchor-close {
  left: 50%;
  transform: translateX(-50%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}

/* slider */
.swiper-button-prev {
  position: static !important;
  display: block !important;
  color: #99a1a3 !important;
  cursor: pointer;
}

.swiper-button-next {
  display: block !important;
  position: static !important;
  color: #99a1a3 !important;
  cursor: pointer;
}

.swiper {
  position: relative;
  width: 90vw;
  max-width: 1280px;
}

.swiper-slide {
  display: flex !important;
}

/* scroll-x-container */
.scroll-x-container {
  width: 100vw;
}

.scroll-x-modules {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.scroll-x-modules::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scroll-x-modules {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.scroll-x-module {
  display: inline-block;
  text-align: center;
}

.scroll-x-module + .scroll-x-module {
  margin-left: 12px;
}

/* dropdowns */
.dropdown-close {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.dropdown-open {
  max-height: 1000px;
  overflow: hidden;
  transition: max-height 0.3s ease-in;
}

.menu-mobile {
  transform: translate(-100%);
  transition: transform 0.3s ease-in-out;
}

.menu-mobile-active {
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
}

.dropdown-list {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out,
    padding 0.2s ease-in-out;
}

.dropdown-list-active {
  max-height: 1000px;
  padding: 16px 0;
  opacity: 1;
  overflow: hidden;
}

.header-user-dropdown {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.header-user-dropdown-active {
  opacity: 1;
  max-height: 1000px;
  overflow: hidden;
}

.chat-location-dropdown {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.chat-location-dropdown-active {
  opacity: 1;
  max-height: 1000px;
  overflow: hidden;
}

/* chat */
.chat-window-open {
  max-height: 1000px;
  opacity: 1;
  transition: max-height 0.3s ease-in;
}

.chat-window-close {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease-out;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(-180deg) scale(0.4);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}

.chat-icon-active {
  opacity: 1;
  animation: rotateAnimation 0.3s ease-in-out forwards;
}

.chat-icon-inactive {
  transform: rotate(180deg) scale(0.4);
  opacity: 0;
}

/* auth */
.modal-auth-divider {
  display: flex;
  align-items: center;
}

.modal-auth-divider::before,
.modal-auth-divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  background-color: #b0b0b0;
  margin: 5px;
}

.auth-register-verification-input {
  font-size: 1.5rem;
  outline: none;
  text-align: center;
}

.auth-register-verification-button-disabled {
  background-color: #a57d04e1;
}

.auth-register-verification-input::-webkit-inner-spin-button,
.auth-register-verification-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calendar {
  background-color: #1c1c1c;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none; /* Remove default arrow in Internet Explorer/Edge */
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #99a1a3;
  color: #99a1a3;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #99a1a3;
  color: #99a1a3;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #99a1a3;
  color: #99a1a3;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #99a1a3;
  }
  50%,
  100% {
    background-color: rgba(152, 128, 255, 0.2);
  }
}
