{% extends "landing/base.html" %} {% block main_content %}
<h1 class="mb-16 mt-20 text-6xl">Seu anúncio foi criado</h1>
<div class="w-full flex flex-col gap-6 p-6 mb-8 border border-grey rounded-2xl">
  <h3 class="text-3xl">Informação importante</h3>
  <div class="flex flex-col gap-4 text-xl text-grey">
    <div class="flex gap-6">
      <!-- prettier-ignore -->
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"> <rect width="24" height="24" rx="12" fill="#5D4B15"/> <path d="M7 12H17M17 12L13 8M17 12L13 16" stroke="#F2B705" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        soluta, asperiores obcaecati officiis minima repellendus fugiat vero
        nesciunt magni assumenda maiores pariatur est animi doloribus sunt
        aspernatur commodi repellat praesentium.
      </p>
    </div>
    <div class="flex gap-6">
      <!-- prettier-ignore -->
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"> <rect width="24" height="24" rx="12" fill="#5D4B15"/> <path d="M7 12H17M17 12L13 8M17 12L13 16" stroke="#F2B705" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        soluta, asperiores obcaecati officiis minima repellendus fugiat vero
        nesciunt magni assumenda maiores pariatur est animi doloribus sunt
        aspernatur commodi repellat praesentium.
      </p>
    </div>
    <div class="flex gap-6">
      <!-- prettier-ignore -->
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"> <rect width="24" height="24" rx="12" fill="#5D4B15"/> <path d="M7 12H17M17 12L13 8M17 12L13 16" stroke="#F2B705" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        soluta, asperiores obcaecati officiis minima repellendus fugiat vero
        nesciunt magni assumenda maiores pariatur est animi doloribus sunt
        aspernatur commodi repellat praesentium.
      </p>
    </div>
    <div class="flex gap-6">
      <!-- prettier-ignore -->
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"> <rect width="24" height="24" rx="12" fill="#5D4B15"/> <path d="M7 12H17M17 12L13 8M17 12L13 16" stroke="#F2B705" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        soluta, asperiores obcaecati officiis minima repellendus fugiat vero
        nesciunt magni assumenda maiores pariatur est animi doloribus sunt
        aspernatur commodi repellat praesentium.
      </p>
    </div>
  </div>
</div>

<div class="w-full flex flex-col gap-6 p-6 border border-grey rounded-2xl">
  <h3 class="text-3xl">Perguntas frequentes</h3>
  <div class="flex flex-col gap-8 text-lg text-secondary underline">
    <a href="#"
      >Por que o site me mostra uma mensagem de erro quando carrego meus
      ingressos?</a
    >
    <a href="#">Posso vender vários ingressos de uma só vez?</a>
    <a href="#">Como eu vendo um ingresso pelo site?</a>
  </div>
</div>
{% endblock %}
