<div>
  {% include 'chat/chat_messages.html' %}
  <div class="flex text-white justify-end">
    <small class="pt-1">FanTicket {{ now }}</small>
  </div>
  <div class="mb-6 flex text-black justify-end">
    <p class="w-5/6 p-2 rounded-t-lg rounded-bl-lg bg-secondary">
      Choose an event from the list.
    </p>
  </div>

  {% set all_filters = "[name='room_unique_id'], [name='event_unique_id']" %}

  <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />

  {% for event in events %}
  <div class="mb-1 flex text-black justify-end">
    <button type="button" hx-get="{{ url_for('buy.event_details', event_unique_id=event.unique_id) }}"
      hx-target="#chat-body" hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}"
      class="link w-5/6 p-2 mb-2 rounded-lg border border-secondary text-secondary transition-colors duration-300">
      {{ event.name }}
    </button>
  </div>
  {% endfor %}

  {% if error_message %}
  <div class="mb-8 mt-2 flex text-black justify-end">
    <p class="w-5/6 p-2 mb-2 rounded-lg text-white bg-red-600">
      {{ error_message }}
    </p>
  </div>

  <button id="chat-window-events" hx-get="{{ url_for('chat.buy') }}" hx-target="#chat-body" hx-swap="innerHTML"
    hx-trigger="click"
    class="mx-1 p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
    Try again
  </button>
  {% endif %}
</div>