{% from 'chat/_macros_chat_message.html' import bot_message, bot_message_without_date, user_message,
submit_message_disable
%}

<div id="chat-main" class="py-3 px-4 h-475 flex-col justify-start items-stretch overflow-y-scroll">
  {% include 'chat/chat_messages.html' %}
  {% include 'chat/chat_spinner.html' %}

  {% set html_element %}
  {% set all_filters = "[name='room_unique_id'], [name='renew_search']" %}
  <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
  <div>
    <a href={{qr_url}}>
      <img class="w-full h-full" src="data:image/png;base64,{{ qr }}" alt="qr_code"></a>
  </div>
  <div class="mt-2 w-265 flex flex-col gap-3">
    <div class="flex flex-col gap-2">
      <button type="button" onclick="copyToClipboard('{{qr_to_copy}}')"
        class="link p-2 w-full text-center text-secondary border border-secondary rounded-2xl transition-colors duration-200">
        <div class="flex flex-col gap-1 justify-center items-center">
          <span>Copy code to clipboard</span>
        </div>
      </button>
    </div>
  </div>
  {% endset %}

  <div id="chat-message-container" data-send-message>
    {% if error_message %}
    {% include 'chat/chat_message_error.html' %}
    {% endif %}
    {{ bot_message("To proceed with the purchase, please scan QR code.") }}
    {{ bot_message_without_date(html_element=html_element) }}

    <div id="chat-message-spinner" class="htmx-indicator flex gap-2 justify-start">
      {% include 'chat/chat_spinner_active.html' %}
    </div>
  </div>
</div>


</div>
</div>

{{ submit_message_disable() }}

{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/chat.js') }}" type="text/javascript" defer></script>
<script>
  function copyToClipboard(string) {
    var input = document.createElement('input');
    input.value = string;
    document.body.appendChild(input);
    input.select();
    document.execCommand('copy');
    document.body.removeChild(input);
  }
</script>
{% endblock %}