{% set all_filters = "[name='room_unique_id'], [name='event_unique_id'], [name='ticket_unique_id']" %}
<div>
    {% include 'chat/chat_messages.html' %}
    <div class="flex text-white justify-end">
        <small class="pt-1">FanTicket {{ now }}</small>
    </div>

    <div class="mb-1 flex justify-end">
        <div class="relative w-64 text-black">
            <svg class="absolute w-full h-full inset-0" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                preserveAspectRatio="none" viewBox="0 0 20 20" fill="#f2b705">
                <path
                    d="M14.8215 1.37708L14.8218 1.3766C14.9876 1.12906 15.2388 1 15.485 1H18.148C18.6187 1 19 1.38128 19 1.852V18.148C19 18.6187 18.6187 19 18.148 19H15.485C15.2388 19 14.9876 18.8709 14.8218 18.6234L14.8215 18.6229C13.7818 17.0731 12.0105 16.049 10 16.049C7.98951 16.049 6.21822 17.0731 5.17854 18.6229L5.17822 18.6234C5.01219 18.8712 4.76191 19 4.515 19H1.852C1.38128 19 1 18.6187 1 18.148V1.852C1 1.38128 1.38128 1 1.852 1H4.515C4.76122 1 5.01237 1.12906 5.17822 1.3766L5.17854 1.37708C6.21815 2.92685 7.9884 3.951 10 3.951C12.0116 3.951 13.7818 2.92685 14.8215 1.37708Z"
                    stroke="#F2B705" stroke-width="0.2" />
            </svg>
            <p class="w-5/6 py-12 ml-8 relative">
                Section: {{ ticket.section }}
                <br>
                Queue: {{ ticket.queue }}
                <br>
                Seat: {{ ticket.seat }}
                <br>
                Price net: {{ ticket.price_net|round(2) }}
                <br>
                Price gross: {{ ticket.price_gross|round(2) }}
            </p>
        </div>
    </div>


    {% if error_message %}
    <div class="mb-8 flex text-black justify-end">
        <p class="w-5/6 p-2 mb-2 rounded-lg text-white bg-red-600">
            {{ error_message }}
        </p>
    </div>
    {% endif %}

    <div class="mt-2 flex justify-around">
        {% if current_user.is_authenticated %}
        {% set cart_url = url_for('buy.cart') %}
        {% else %}
        {% set cart_url = url_for('chat.login_form') %}
        {% endif %}
        <input type="hidden" name="room_unique_id" value="{{ room.unique_id }}" />
        <input type="hidden" name="event_unique_id" value="{{ event.unique_id }}" />
        <input type="hidden" name="ticket_unique_id" value="{{ ticket.unique_id }}" />

        <button type="button" hx-get="{{ cart_url }}" hx-target="#chat-window" hx-swap="innerHTML" hx-trigger="click"
            hx-include="{{ all_filters }}"
            class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
            Buy
        </button>

        <button type="button" hx-get="{{ cart_url }}" hx-target="#chat-window" hx-swap="innerHTML" hx-trigger="click"
            hx-include="{{ all_filters }}"
            class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
            Reserve
        </button>

        <button type="button" hx-get="{{ url_for('buy.get_event_tickets') }}" hx-target="#chat-window"
            hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}"
            class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
            Back
        </button>
    </div>
</div>