{% set all_filters = "[name='event_unique_id'], [name='ticket_unique_id']" %}
<div>
    <div class="flex text-white justify-end">
        <small class="pt-1">FanTicket {{ now }}</small>
    </div>

    <div class="mb-1 flex text-black justify-end">
        <p class=" w-5/6 p-2 mb-2 rounded-t-lg rounded-bl-lg bg-secondary">
            Messaging history is cleared and will be sent to your email
        </p>
    </div>

    <div class="mb-1 flex text-black justify-end">
        <p class=" w-5/6 p-2 mb-2 rounded-t-lg rounded-bl-lg bg-secondary">
            Your cart
        </p>
    </div>

    {% for ticket in cart_tickets %}
    <div class="mb-1 flex text-black justify-end">
        <button type="button" hx-get="{{ url_for('buy.cart', ticket_to_exclude=ticket.unique_id) }}"
            hx-target="#chat-window" hx-swap="innerHTML" hx-trigger="click">x</button>
        <p class=" w-5/6 p-2 mb-2 rounded-t-lg rounded-bl-lg bg-secondary">
            Section: {{ ticket.section }}
            <br>
            Queue: {{ ticket.queue }}
            <br>
            Seat: {{ ticket.seat }}
            <br>
            Price net: {{ ticket.price_net }}
            <br>
            Price gross: {{ ticket.price_gross }}
        </p>
    </div>
    {% endfor %}

    <div class="mb-1 flex text-black justify-end">
        <p class=" w-5/6 p-2 mb-2 rounded-t-lg rounded-bl-lg bg-secondary">
            Total price: {{ total_price }}
        </p>
    </div>


    {% if error_message %}
    <div class="mb-8 flex text-black justify-end">
        <p class="w-5/6 p-2 mb-2 rounded-lg text-white bg-red-600">
            {{ error_message }}
        </p>
    </div>
    {% endif %}

    <div class="mt-2 flex justify-around">

        <button type="button" hx-get="{{ url_for('buy.pagar') }}" hx-target="#chat-window" hx-swap="innerHTML"
            hx-trigger="click" hx-include="{{ all_filters }}"
            class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
            Pay now
        </button>

        <button type="button" hx-get="{{ url_for('buy.get_event_tickets') }}" hx-target="#chat-window"
            hx-swap="innerHTML" hx-trigger="click" hx-include="{{ all_filters }}"
            class="p-2 text-center text-grey border border-r-grey rounded-xl hover:bg-gray-200 hover:text-black active:bg-gray-400">
            Back
        </button>
    </div>
</div>